<div class="dropdown">
    <button onclick="nurseList.style.display='block', startTime.style.display='none'" class="dropbtn">Nurses</button>
    <div id="nurseList" class="dropdown-content">
        <a href="#">Eyvel</a>
        <a href="#">Radney</a>
        <a href="#">Nurse Joy</a>
    </div>

    <button onclick="startTime.style.display='block', nurseList.style.display='none'" class="dropbtn">Start time</button>
    <div id="startTime" class="dropdown-content">
        <a href="#">7:00am</a>
        <a href="#">8:00am</a>
        <a href="#">9:00am</a>
        <a href="#">10:00am</a>
        <a href="#">11:00am</a>
        <a href="#">...</a>
    </div>
</div> 
