<div class = "dropdown-container">

    <!-- Nurse type dropdown -->
    <select class="select" id="type-dropdown" (change)="updateSelectedType($event)">
        <option value="">- Nurse type -</option>
        <option value="EDRN">EDRN</option>
        <option value="CRN">CRN</option>
        <option value="DDRN">DDRN</option>
        
    </select>


    <!-- Shift duration dropdown -->
    <select class="select" name="time-select" id="time-dropdown" (change)="updateSelectedShift($event)">
        <option value="">- Shift type -</option>

        <!-- Logic for displaying shifts -->
        <ng-container *ngFor="let shiftType of shiftTypes">
            <option value="shiftType">{{shiftType}}</option>
        </ng-container>

    </select>


    <!-- Nurse name dropdown -->
    <select class="select" name="id-select" id="id-dropdown" (change)="updateSelectedID($event)">
        <option value="">- Nurse id -</option>
    
        <!-- Logic for displaying nurses of the selected type -->
        <ng-container *ngFor="let id of nurseIds">
            <ng-container *ngIf="checkType(id) == selectedType">
                <option value="id">{{id}}</option>
            </ng-container>
        </ng-container>
    
    </select>


    <!-- Adds shift to the current schedule -->
    <button class="confirm" type="button" id="confirm" onclick="alert(`Confirm button clicked!`)">
        Confirm
    </button>

</div>