/* Properties that are the same for each dropdown */
  select {
    font-size: 15px;
    padding: 6px 6px 6px 6px;
    text-align: center;
  }
  
  /* Nurse select properties */
  #name-dropdown {
    width: 175px;
  }

  /* Time select properties */
  #time-dropdown {
    width: 125px;
  }
