<div class = "dropdown-container">

    <select name="type-select" size="1" id="type-dropdown" type="select">
        <option value="">- Nurse type -</option>
        <option value="CN">CN</option>
        <option value="CNA">CNA</option>
        <option value="RN">RN</option>
    </select>

    <select name="name-select" size="1" id="name-dropdown" type="select">
        <option value="">- Nurse name -</option>
        <option value="Eyvel">Eyvel</option>
        <option value="Finn">Finn</option>
        <option value="Radney">Radney</option>
        <option value="Tanya">Tanya</option>
    </select>
    
    <select name="time-select" size="1" id="time-dropdown" type="select">
        <option value="">- Shift type -</option>
        <option value="1900_08HR">19:00 - 8hr</option>
        <option value="0700_12HR">07:00 - 12hr</option>
        <option value="0900_12HR">09:00 - 12hr</option>
        <option value="1100_12HR">11:00 - 12hr</option>
        <option value="1300_12HR">13:00 - 12hr</option>
        <option value="1500_12HR">15:00 - 12hr</option>
        <option value="1900_12HR">19:00 - 12hr</option>
    </select>

    <button class="confirm" type="button" onclick="">
        Confirm Shift
    </button>

</div>