/* Arrange the buttons horizontally */
.button_container{
    display: grid;
    width: 85%;
    padding-top: 2px;
}
  
.button1{
    grid-column: 1 / 2;
    grid-row: 1;
    display: inline;
}

.button2{
    grid-column: 2 / 2;
    grid-row: 1;
    display: inline;
}

/* Button styling */
.addShiftButton, .delShiftButton {

    border: 4px;
    line-height: 2.5;
    display: inline-block;
    font-size: 1rem;
    width: 110px;
    height: 60px;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    border-radius: 10px;
    background-color: #2980B9;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);   
}

.addShiftButton:hover, .delShiftButton:hover {
    background-color: #0c588b;
}

.addShiftButton:active, .delShiftButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  

  /* Close Button */
  .close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


 