<div class="button_container">

    <div id="addShiftModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="addShiftModal.style.display='none',addShiftDropdown.style.display='none'">&times;</span>
            <p>This button should allow the user to add a nurse shift.</p>
            <app-nurse-dropdown id="addShiftDropdown"></app-nurse-dropdown>
        </div>
    </div>

    <div class="button1">
        <button class="addShiftButton" type="button" onclick="addShiftModal.style.display = 'block'">
            Add Shift
        </button>
    </div>  

    <div id="delShiftModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="delShiftModal.style.display = 'none'">&times;</span>
            <p>This button should allow the user to delete a nurse shift.</p>
        </div>
    </div>

    <div class="button2">
        <button class="delShiftButton" type="button" onclick="delShiftModal.style.display = 'block'">
            Delete Shift
        </button>
    </div>

</div>
