.header_container{
    display: grid;
}

/* .calendar{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 10px 10px 10px 10px;
    margin-left: 2px;
} */
.calendar{
    grid-column: -1;
    width: 100%;
}
.warnings_table{
    grid-column: 1;
    grid-row: 2 / 3;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
}

.buttons{
    grid-column: 1;
    grid-row: 2 / 3;
    padding: 10px 10px 10px 10px;
}

.week_copy{
    grid-column: 1;
    grid-row: 3/3;
    padding: 10px 10px 10px 20px;
}