.header_container{
    display: grid;
}

.calendar{
    grid-column: 1;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 5px;
}

.warnings_table{
    grid-column: 1;
    padding-top: 7px;
    padding-bottom: 5px;
}

.buttons{
    grid-column: 1;
    padding-top: 7px;
    padding-bottom: 3px;
}

.week_copy{
    grid-column: 1;
    padding-top: 7px;
    padding-bottom: 5px;
}