body {
    /* background-color: #88bdbc; */
    /* background-color: #88bdbc;
    background-color: #88bdbc; */
    background-color: #c8d8e4;
  }
.page_container{
    /* background-color: #e9ed92; */
    display: grid;
    width: 100%;
    height: 100%;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1;
}

.gannt-chart{
    grid-column: 2 / 10;
    grid-row: 1;  
}