/* Overflow property for outter div encasing the entire gannt-chart component */
  .outter {
    overflow: hidden;
  }

  /* properties for srollable part of gannt chart */
  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 700px;
    overflow-y: auto;
  }

  /* Styling of heading bar that displays the selected date */
  .date-heading {
    background-color: #e9dfd4;
    display: flex; 
    justify-content: center;
    border-top: 2px solid #4f4a41;
    border-left: 2px solid #4f4a41;
    border-right: 2px solid #4f4a41;
    border-bottom: 1px solid black;
    width: 99%;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
  }

/* Styling what the rows of the gannt-chart look like */
  .chart-row {
    display: grid;      
    grid-template-columns: 50px 1fr;
    background-color: #DED6C8;
  }

  /* Alternate the background colors of the chart rows */
  .chart-row:nth-child(odd) {
    background-color: #FAF2E4;
  }
  
  /* Stylings for the part of gannt chart that shows time periods for scheduling */
  .chart-period {
    color:  #fff;
    background-color:  #708090 !important;
    border-bottom: 2px solid #000; 
    border-right: 2px solid #000; 
    grid-template-columns: 50px repeat(24, 1fr);
    width: 99%;
  }

  /* Properties for lines that divide the gannt-chart into time periods */
  .chart-lines {
    position: absolute;
    height: 8.5%;
    width: 100%;
    background-color: transparent;
    grid-template-columns: 50px repeat(24, 1fr);
  }

  /* Stylings for each individual time period in the time period heading */
  .chart-period > span { 
    border-right: 2px solid #4f4a41;
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 15px 0;    
  }

  /* Properties that define how the time period lines over the gannt-chart look */
  .chart-lines > span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  /* Stylings for left side of chart rows that label the nurse type being scheduled in gannt-chart */
  .chart-row-item {
    border: 1px solid  #000;
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  } 

  /* Styling for the color-coded bars that 'hold' a nurse shift in the gannt-chart */
  .chart-row-bars {
    list-style: none;
    display: grid;
    padding: 15px 0;
    margin: 0;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 10px 0;
    border-bottom: 1px solid  #000;
  }
  
  /* Styling the shift entries for nurses in gannt-chart */
  li {
    font-weight: 450;
    font-size: 15px;
    min-height: 15px;
    background-color: #708090;
    padding: 5px 15px;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 15px;
  }

  /* Stylingt the text for shifts */
  .chart-li-item{
    text-align: center;
  }