    <div class='outter'>
        <!-- Top most heading heading holding selected date -->
        <div class=date-heading>
            {{childMessage | date: 'longDate'}}
        </div>
        <!-- second part of gannt-chart heading that divides gannt-chart into time periods -->
        <div class="chart-row chart-period">
            <!-- Inputing actual times for the time periods in heading -->
            <div class="chart-row-item"></div>
                <span>7:00</span>
                <span>8:00</span>
                <span>9:00</span>
                <span>10:00</span>
                <span>11:00</span>
                <span>12:00</span>
                <span>13:00</span>
                <span>14:00</span>
                <span>15:00</span>
                <span>16:00</span>
                <span>17:00</span>
                <span>18:00</span>
                <span>19:00</span>
                <span>20:00</span>
                <span>21:00</span>
                <span>22:00</span>
                <span>23:00</span>
                <span>0:00</span>
                <span>1:00</span>
                <span>2:00</span>
                <span>3:00</span>
                <span>4:00</span>
                <span>5:00</span>
                <span>6:00</span>
        </div>
        <!-- Container that holds the actual schedule data in the gannt-chart -->
    <div class="container">
        <!-- lines are the time period lines that run down the gannt-chart dividing it by period -->
    <div class="lines">
        <!-- ng logic that populates gannt chart with schedule data that has been read from csv -->
        <ng-container *ngFor="let type of types">
            <ng-container *ngFor='let nurse of schedule'>
                <ng-container *ngIf="nurse.shift_assigned!='NA'">
                    <ng-container *ngIf='type.type==checkType(nurse.rn_id)'>
                        <ng-container *ngFor="let number of startsArray">
                            <ng-container *ngIf='number==getShiftStart(nurse.shift_assigned)'>
                                <!-- class for the rows that hold each shift's data -->
                                <div class="chart-row">
                                    <!-- The color coded tabs that signal what type of nurse is being scheduled in the row -->
                                    <div class="chart-row-item" [style.background-color]="getColor(checkType(nurse.rn_id))" style='color:white'>{{type.type}}</div>
                                    <!-- divide each row into periods with the lines -->
                                    <div class="chart-row chart-lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <!-- the color coded shifts assigned to each row -->
                                        <ul class="chart-row-bars">
                                            <li class="chart-li-item"[style.background-color]="getColor(checkType(nurse.rn_id))"[style.grid-column]="styleShift(nurse.shift_assigned)" style='color:white'>
                                                {{nurse.rn_id}}
                                            </li>
                                            
                                        </ul>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
    </ng-container>
</div>
</div>
    
