<div class="container">

    <div class="week-of">
        <h1 >Week of:</h1>

        <b>10/11</b>
    </div>

    <div id="copyModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="copyModal.style.display = 'none'">&times;</span>
            <p>How many weeks forward would you like to copy the current week's schedule?</p>
            <select name="select-num-weeks" id="week-num-dropdown">
                <option value="-1">- # of Weeks -</option>
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
            </select>
        </div>
    </div>

    <div class="copy-week">
        <button class="copy-week" type="button" onclick="copyModal.style.display = 'block'">
            Copy<br>
            Schedule
        </button>
    </div>
</div>