.header_container{
    display: grid;
}

.week-and-warnings{
    grid-row: 1;
    grid-column: 2 / 100;
    padding: 1px;
}

.buttons{
    grid-row: 1;
    grid-column: 3 / 100;
    padding-top: 73px;
}