<div class="warning_table">
  <!-- Warnings table - hardcoded to have the following values -->
    <table>
        <tr>
          <th>Understaffed</th>
          <td [style.background-color]="getWarningColor(understaffed)">{{understaffed}}</td>
        </tr>
        <tr>
          <th>Overstaffed</th>
          <td [style.background-color]="getWarningColor(overstaffed)">{{overstaffed}}</td>
        </tr>
        <tr>
          <th>Not enough experience</th>
          <td [style.background-color]="getWarningColor(nexp)">{{nexp}}</td>
        </tr>
        <tr>
          <th>Overworked nurses</th>
          <td [style.background-color]="getWarningColor(overworked)">{{overworked}}</td>
        </tr>
      </table> 

</div>